[Desktop Entry]
Categories=System;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
StartupWMClass={{exec}}
Icon={{icon}}
Name=BioPass
GenericName=Biometric authentication
GenericName[de]=Biometrische Anmeldung
Keywords=biometrics;authentication;face;fingerprint;login;
Keywords[de]=Biometrie;Authentifizierung;Gesicht;Fingerabdruck;Anmeldung;
Terminal=false
Type=Application
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
