[Desktop Entry]
Categories=System;
Comment=Biometric Authentication System
Exec=biopass
StartupWMClass=com.ticklab.biopass
Icon=biopass
Name=BioPass
GenericName=Biometric authentication
GenericName[de]=Biometrische Anmeldung
Keywords=biometrics;authentication;face;fingerprint;login;
Keywords[de]=Biometrie;Authentifizierung;Gesicht;Fingerabdruck;Anmeldung;
Terminal=false
Type=Application
